<h1><%= @user.name %></h1>

<% if !@user.image.blank? %>
	<%= image_tag "#{@user.image}" %>
<% else %>
  <%= image_tag "profile.png" %>
<% end %>
<% if can? :edit, @user %>
  <p><%= link_to "Edit your profile", edit_user_registration_path %></p>
<% end %>

<% @posts.reverse.each do |post| %>
	<div class="post">
	  <div class="post-body"><%= post.body %></div>
	  <div class="post-user">
	  	<% if can? :manage, post %>
			  <%= link_to "Edit", edit_post_path(post) %> | <%= link_to "Delete", post, method: :delete, data: { confirm: "Are you sure?" } %>
			<% end %> 
	  </div>
	</div>
<% end %>
<%= will_paginate @posts, renderer: BootstrapPagination::Rails %>