<div class="row">
	<div class="col-sm-8">
		<h1><%= @user.name %></h1>

		<% if can? :edit, @user %>
		  <p><%= link_to "Edit profile", edit_user_registration_path, class: "btn btn-warning btn-sm pull-right" %></p>
		<% end %>

		<% if !@user.image.blank? %>
			<%= image_tag "#{@user.image}" %>
		<% else %>
		  <%= image_tag "profile.png" %>
		<% end %>
	</div>
</div>

<div class="row">
	<div class="col-sm-8">
		<h4><%= @user.name %>'s Sahdfs</h4>
		<% @posts.each do |post| %>
			<div class="post">
			  <div class="post-body"><%= post.body %></div>
			  <div class="post-user">
			  	<% if can? :manage, post %>
					  <%= link_to "Edit", edit_post_path(post) %> | <%= link_to "Delete", post, method: :delete, data: { confirm: "Are you sure?" } %>
					<% end %> 
			  </div>
			</div>
		<% end %>
		<%= will_paginate @posts, param_name: 'posts_page', renderer: BootstrapPagination::Rails %>

		<h4><%= @user.name %>'s Favorite Sahdfs</h4>
		<% @favorites.each do |post| %>
			<div class="post" id="post-<%= post.id %>">
			  <div class="post-body"><%= post.body %></div>
			  <div class="post-user"><%= link_to post.user.name, post.user %></div>
			  <% if user_signed_in? && post.user != current_user %>
			    <% unless current_user.favorite_posts.exists?(id: post.id) %>
			      <%= link_to raw('<i class="fa fa-star favorite"></i>'), favorite_posts_path(post_id: post.id), method: :post, remote: true, class: "favorite-button" %>
			    <% else %>
			      <%= link_to raw('<i class="fa fa-star unfavorite"></i>'), favorite_post_path(post), method: :delete, remote: true, class: "favorite-button" %>
			    <% end %>
			  <% end %>
			</div>
		<% end %>
		<%= will_paginate @favorites, param_name: 'favorites_page', renderer: BootstrapPagination::Rails %>
	</div>
</div>