<%= form_for([Administrate::NAMESPACE, page.resource], html: { class: "form" }) do |f| %>
  <% if page.resource.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(page.resource.errors.count, "error") %>
        prohibited this <%= page.resource_name %> from being saved:
      </h2>

      <ul>
        <% page.resource.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-inputs">
    <% page.attributes.each do |attribute| -%>
      <% next if attribute.name == "password" %>
      <div class="form-field form-field--<%= attribute.html_class %>">
        <%= render_field attribute, f: f %>
      </div>
    <% end -%>
  </div>

  <div class="form-actions">
    <%= f.submit %>
  </div>
<% end %>


<p class="cpw-display" style="font-weight: bold; margin-top: 40px; cursor: pointer; border: 1px solid #CCC; border-radius: 5px; padding: 10px; width: 200px">Change User's Password</p>

<div class="cpw-form" style="display: none">
<%= form_for([Administrate::NAMESPACE, page.resource], html: { class: "form" }) do |f| %>
  <% if page.resource.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(page.resource.errors.count, "error") %>
        prohibited this <%= page.resource_name %> from being saved:
      </h2>

      <ul>
        <% page.resource.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-inputs">
    <% page.attributes.each do |attribute| -%>
      <% next unless attribute.name == "password" %>
      <div class="form-field form-field--<%= attribute.html_class %>">
        <%= render_field attribute, f: f %>
      </div>
    <% end -%>
  </div>

  <div class="form-actions">
    <%= f.submit "Change password" %>
  </div>
<% end %>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
<script>
$(".cpw-display").click(function() {
  $(".cpw-form").slideToggle();
});
</script>
