<h1>New Sad Funnies</h1>
<div class="row">
  <div class="col-lg-8">
    <div id="posts">
			<% @posts.each do |post| %>

			  <%= post_style(post, current_user || User.new) %>

			<% end %>
		</div>
		<%= will_paginate @posts, renderer: BootstrapPagination::Rails %>
	</div>
	<div class="col-lg-4">
	  <div class="social-ads social-ads-homepage">
	    <%= render partial: "layouts/fb_sidebar" %>
	    <%= render partial: "layouts/twitter_sidebar" %>
	    <%= render partial: "layouts/ads" %>
    </div>
	</div>
</div>