<h1>SAHDF</h1>

<%= link_to "Post a sad funny", "#", class: "btn btn-success show-post-button", id: "show-post-form" %>

<div class="row">
	<div class="col-sm-8">
    <div id="post-form">
	    <%= render partial: "form" %>
	  </div>
	</div>
</div>

<div class="row">
  <div class="col-sm-8">
    <div id="posts">
			<% @posts.each do |post| %>

				<div class="post" id="post-<%= post.id %>">
				  <div class="post-body"><%= post.body %></div>
				  <div class="post-user">
				    <% if post.user %>
				      <%= link_to post.user.name, post.user %>
				    <% else %>
				    	Anonymous
				    <% end %>
				  </div>
				  <% if user_signed_in? && post.user != current_user %>
				    <% unless current_user.favorite_posts.exists?(id: post.id) %>
				      <%= link_to raw('<i class="fa fa-star favorite"></i>'), favorite_posts_path(post_id: post.id), method: :post, remote: true, class: "favorite-button", title: "Favorite!" %>
				    <% else %>
				      <%= link_to raw('<i class="fa fa-star unfavorite"></i>'), favorite_post_path(post), method: :delete, remote: true, class: "favorite-button", title: "Unfavorite."  %>
				    <% end %>
				  <% end %>
				</div>
				
			<% end %>
		</div>
		<%= will_paginate @posts, renderer: BootstrapPagination::Rails %>
	</div>
</div>