<!DOCTYPE html>
<html>
<head>
  <title>SAHDF</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale = 1.0" />
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="navbar navbar-inverse navbar-static-top">
	  <div class="container">
	    <div class="navbar-header">
	      
	      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	      </button>
	      <a href="/" class="navbar-brand">Sad Funny</a>
	    </div>
	    <div class="navbar-collapse collapse" id="navbar">   
	      
	      <ul class="nav navbar-nav navbar-right">
	        <li <%= "class=active" if current_page?(new_path) %>><%= link_to "New", new_path %></li>
	      	<% if user_signed_in? %>
	      	  <li><%= link_to "Submit Your Sad Funny", "#", data: { toggle: "modal", target: "#navbar_post" } %></li>
			        <div class="modal fade" role="dialog" id="navbar_post">
			          <%= render partial: "posts/nav_form" %>
			        </div>
	      	  <li class="dropdown">
		          <a class="dropdown-toggle" data-toggle="dropdown" href="#" id="download">Welcome back, <%= current_user.name %> <span class="caret"></span></a>
		          <ul class="dropdown-menu" aria-labelledby="download">
	              <li><%= link_to 'My Profile', user_path(current_user) %></li>
		            <li><%= link_to 'Edit profile', edit_user_registration_path %></li>
		            <li class="divider"></li>
		            <% if current_user.admin? %>
		              <li><%= link_to 'Admin', admin_root_path %></li>
		              <li class="divider"></li>
		            <% end %>
		            <li><%= link_to "Logout", destroy_user_session_path, method: :delete %></li>
		          </ul>
	        	</li>
	        <% else %>
	          <li><%= link_to "Submit Your Sad Funny", "#", data: { toggle: "modal", target: "#navbar_post" } %></li>
		        <div class="modal fade" role="dialog" id="navbar_post">
		          <%= render partial: "posts/nav_form" %>
		        </div>
		        <li><%= link_to "Log In", new_user_session_path %></li>
		        <li><%= link_to "Create Account", new_user_registration_path %></li>
		      <% end %>
	      </ul>

	    </div>
	  </div>
  </div>

	<div class="container">
	  <p><%= notice %></p>
    <p><%= alert %></p>
    <%= yield %>
  </div>

</body>
</html>
